@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");
/* header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 40px;
} */
body {
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #abe1ee;
}
a {
  text-decoration: none;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 30px;
  grid-template-areas: "logo search metric";
}
.logo {
  grid-area: logo;
  font-size: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 32px;
}
.logo img {
  width: 100%;
  max-width: 75px;
  height: 100%;
  max-height: 75px;
}
.search {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-form {
  grid-area: search;
}
.search_location-btn {
  border: 3px 3px 3px 0;
  border-color: transparent;
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
  border-radius: 0 15px 15px 0;
  /* border-left: 0 !important; */
  color: white;
  padding: 5px;
  background-color: rgb(109 155 255);
  cursor: pointer;
}
.search_location-btn svg {
  width: 100%;
  height: 100%;
  min-width: 30px;
  min-height: 30px;
}
form {
  width: 100%;
  display: grid;
  grid-template-columns: 3.5fr minmax(50px, auto);
  gap: 0;
}

input {
  border: 3px solid gray; /* Set the initial border style */
  min-width: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: larger;
  border-radius: 15px 0 0 15px;
  border-right: 0 !important;
  padding-left: 10px;
  background-color: rgb(109, 155, 255);
  outline: none; /* Remove the default focus outline */
}

input:focus {
  border: 3px solid black; /* Change the border style on focus */
  border-right: 0;
  transition: border 0.3s;
}

button.search_location-btn {
  border: 3px solid gray; /* Set the initial border style for the button */
  border-left: none;
  background-color: rgb(109, 155, 255);
  outline: none; /* Remove the default focus outline */
}

input:focus + button.search_location-btn {
  border: 3px solid black; /* Change the border style for the button on input focus */
  border-left: 0;
  transition: border 0.3s;
}

.toggle_metric {
  grid-area: metric;
  display: flex;
  justify-content: end;
  align-items: center;
}
.toggle_metric button {
  background-color: blue;
  color: white;
  width: 50%;
  max-width: 100px;
  height: 100%;
  max-height: 50px;
  margin-right: 20px;
  font-family: inherit;
  font-size: large;
  border-radius: 20px;
}
.toggle_metric button.active {
  /* border: 4px solid rgb(219, 52, 52); */
  border: none;
  outline: 4px solid rgb(0, 0, 0);
}
.toggle_metric button:last-child {
  margin-right: 0;
}
.titleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleArea h1,
.titleArea h4 {
  margin: 10px 0;
}
.area_head {
  font-size: 2em;
  text-align: center;
}
.date_time {
  font-size: large;
  text-align: center;
}
.location_dropdown {
  min-width: 15em;
  position: absolute;
  margin: 2em 0;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.location_dropdown * {
  box-sizing: border-box;
}
.location_menu {
  list-style: none;
  padding: 0em 0.5em;
  background: rgb(3 126 134 / 90%);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  border-radius: 0.5em;
  width: 100%;
  /* Change to 15em on click */
  height: 0;
  overflow-y: scroll;
}
.location_menu::-webkit-scrollbar {
  width: 8px;
}
.location_menu::-webkit-scrollbar-track {
  background-color: #40404084;
}
.location_menu::-webkit-scrollbar-thumb {
  background-color: #39678f;
}
.location_menu::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
.location_menu li {
  padding: 0.7em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.location_menu li:hover {
  background-color: #242424;
  color: white;
}
.active_menu {
  background-color: #1e1e1e;
  color: white;
}
.text-fade-in {
  animation: textFade 300ms ease-out;
}
.menu_open {
  border: 1px #383838;
  height: 15em;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: rgb(9, 53, 85);
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
.change_Display_Menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide_Menu {
  display: none;
}
.show_Menu {
  display: block;
}
.tempDescription {
  text-transform: capitalize;
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
@keyframes textFade {
  0% {
    transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .area_head {
    font-size: 1.5em;
  }
}
